body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

#recordButton {
    width: 40vw; /* 40% of the viewport width */
    height: 40vw; /* Keep it a circle */
    border-radius: 50%;
    background-color: green; /* Default color when not recording */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transition: background-color 0.3s; /* Smooth transition between colors */
    position: relative; /* This will help in positioning the microphone parts */
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.recording {
    background-color: red;
    animation: pulsate 1s infinite;
}

.mic-body {
    background-color: #fff;
    width: 30%;            /* Slimmer body */
    height: 40%;           /* Adjusted height */
    border-radius: 10% 10% 0 0; /* Slightly rounded top corners */
    position: absolute;    /* Absolute positioning inside the recordButton */
    bottom: 15%;           /* Positioning it towards the bottom of the recordButton */
    left: 35%;             /* Centering it horizontally */
    z-index: 1;            /* Making sure it stays above the head part */
}

.mic-head {
    background-color: #fff;
    width: 50%;            /* Adjusted width for the head */
    height: 30%;           /* Adjusted height */
    border-radius: 50%;    /* Making it round */
    position: absolute;    /* Absolute positioning inside the recordButton */
    top: 20%;              /* Positioning it towards the top of the recordButton */
    left: 25%;             /* Centering it horizontally */
}